{% extends "base.html" %} {% block content %} {% load static %}
<!-- <h1>Hi am home</h1>-->

<!-- Members Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#newMember"
      >
        Add member
      </button>
    </div>
    <div class="row g-4 mt-2 card">
  <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Campus</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
          {% for member in members %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ member.member_first_name|add:' '|add:member.member_lastname }}</td>
                <td>{{ member.member_date_of_birth }}</td>
                <td>{{ member.member_contact }}</td>
                <td>{{ member.member_address }}</td>
                <td>{{ member.member_campus.campus_name }}</td>
                <td>{{ member.member_course.course_name }}</td>
            </tr>
             {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Contact</th>
                <th>Address</th>
                <th>Campus</th>
                <th>Course</th>
            </tr>
        </tfoot>
    </table>
  </div>
</div>
<!-- Team End -->
<!-- Modal -->
<div
  class="modal fade"
  id="newMember"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newMember"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new member</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action={% url 'member_create' %}
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="row mb-4">
            <div class="col">
              <input
                name="member_first_name"
                type="text"
                class="form-control"
                placeholder="First name"
              />
            </div>
            <div class="col">
              <input
                name="member_lastname"
                type="text"
                class="form-control"
                placeholder="Last name"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <input
                name="member_date_of_birth"
                type="date"
                class="form-control"
                placeholder="Date of birth"
              />
            </div>
            <div class="col">
              <input
                name="member_contact"
                type="text"
                class="form-control"
                placeholder="Contact"
              />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <input
                type="text"
                name="member_address"
                class="form-control"
                placeholder="Address"
              />
            </div>
            <!-- <div class="col">
              <input
                name="member_avatar"
                type="file"                
                class="form-control"
                placeholder="Avatar"
              />
            </div> -->
          </div>
          <div class="row mb-4">
            <div class="col">
              <select
                name="member_campus"
                class="form-select form-select-md mb-3"
                aria-label=".form-select-sm example"
              >
                <option selected>Select campus</option>
                {% for campus in campuses %}
                <option value="{{campus.id}}">{{campus.campus_name}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <select
                name="member_course"
                class="form-select form-select-md mb-3"
                aria-label=".form-select-lg example"
              >
                <option selected>Select course</option>
                {% for course in courses %}
                <option value="{{course.id}}">{{course.course_name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>

             <div class="row mb-4">
            <div class="col">
              <select
                name="member_rank"
                class="form-select form-select-md mb-3"
                aria-label=".form-select-sm example"
              >
                <option selected>Select rank</option>
              
                <option value="0">Admin</option>
                <option value="1">User</option>
              
              </select>
            </div>
          
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  $('#example').DataTable();
</script>
{% endblock content %}
