{% extends "base.html" %} {% block content %} {% load static %}
<!-- <h1>Hi am home</h1>-->
<!-- Page Header Start -->
<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container text-center py-5">
    <h1 class="display-3 text-white mb-4 animated slideInDown">Members</h1>
    <!-- <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active" aria-current="page">Our Team</li>
      </ol>
    </nav> -->
  </div>
</div>
<!-- Page Header End -->

<!-- Members Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div
      class="text-center mx-auto wow fadeInUp"
      data-wow-delay="0.1s"
      style="max-width: 500px"
    >
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#newMember"
      >
        Add member
      </button>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item rounded">
          <!-- href="{%static 'polls/lib/animate/animate.min.css'%}" -->
          <!-- {% load static %} <img src="{% static "images/hi.jpg" %}" alt="Hi!" /> -->
          <img
            class="img-fluid"
            src="{% static 'polls/img/team-1.jpg' %}"
            alt="hi"
          />
          <div class="team-text">
            <h4 class="mb-0">Doris Jordan</h4>
            <!-- <p class="text-primary">Landscape Designer</p> -->
            <div class="team-social d-flex">
              <a class="btn btn-square rounded-circle me-2" href=""
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a class="btn btn-square rounded-circle me-2" href=""
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->
<!-- Modal -->
<div
  class="modal fade"
  id="newMember"
  tabindex="-1"
  role="dialog"
  aria-labelledby="newMember"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new member</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row mb-4">
            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="First name"
              />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Last name" />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <input
                type="date"
                class="form-control"
                placeholder="Date of birth"
              />
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Contact" />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <input type="text" class="form-control" placeholder="Address" />
            </div>
            <div class="col">
              <input type="file" class="form-control" placeholder="Avatar" />
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <select
                class="form-select form-select-md mb-3"
                aria-label=".form-select-sm example"
              >
                <option selected>Select campus</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col">
              <select
                class="form-select form-select-md mb-3"
                aria-label=".form-select-lg example"
              >
                <option selected>Select course</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
